.profileTextField {
  width: 50%;
  padding-left: 50px;
}

.profileInput {
  background-color: whitesmoke;
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

#wachtwoordLink {
  text-decoration: blue underline;
  color: blue;
  padding-left: 50px;
}
