.profileTextField {
  width: 50%;
  padding-left: 50px;
}

.profileInput {
  background-color: whitesmoke;
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

#navBar {
  position: fixed;
}

#berichtInput {
  background-color: whitesmoke;
  width: 96%;
  height: 35px;
  padding: 12px 10px;
  margin: 8px;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  overflow-wrap: break-word;
  word-break: break-word;
}

#wachtwoordLink {
  text-decoration: blue underline;
  color: blue;
  padding-left: 50px;
}

#eventLink {
  transition: transform 0.5s;
}

#eventLink:hover {
  transform: scale(1.1);
}
