table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
  font-size: 20px;
  font-family: "Segoe UI", Helvetica, sans-serif;
}

tr:nth-child(even) {
  background-color: gainsboro;
}
